.message-form {
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.message-input {
  height: 90%;
  width: 90%;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding:10px 15px;
    background: #2A68A3;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
